.home-btn-hover {
  display: inline-block;
  padding: 10px 60px;
  background-color: white;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 7px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0;
}
.home-btn-hover:hover {
  background-color: #2B4228;
  color: white;
  border: 1px solid #2B4228;
  transition: all 0.3s;
}
.home-btn-wrap {
  text-align: center;
  margin-top: 40px;
}

/* star */
.home-star-icon {
  color: #2B4228;
  margin-right: 2px;
}
.home-rating-stars {
  padding: 0 5px;
  margin-bottom: 8px;
}


.home-best-products {
  width: 1245px;
  margin: 0 auto;
  padding: 60px 0;
}
.home-best-products h2 {
  text-align: left;
  font-size: 24px;
}

.home-product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 1245px;
  margin: 0 auto;
}

/* brand */
.home-brand-story {
  display: flex;
  margin: 40px auto 80px;
  overflow: hidden;
  max-width: 1245px;
  height: 400px;
  box-sizing: border-box;
}
.home-brand-story-img {
  flex: 1;
  flex-shrink: 0;
}
.home-brand-story-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-brand-story-text {
  flex: 1;
  background-color: #FAF9F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.home-brand-subtitle {
  font-size: 18px;
  margin-bottom: 1px;
  color: #2B4228;
  margin-left: 100px;
}
.home-brand-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #2B4228;
  margin-left: 100px;
}
.home-brand-desc {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #555;
  margin-left: 100px;
}
.home-brand-btn {
  align-self: flex-start;
  padding: 10px 25px;
  color: #555;
  border: 1px solid #999;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 100px;
}

.home-brand-btn:hover {
    color: #836544;
    border: 1px solid #836544a9;
}


/* review */
.home-review-section {
  max-width: 1245px;
  margin: 60px auto;
}
.home-review-section h2 {
  font-size: 24px;
  margin-bottom: 8px;
  text-align: left;
  color: #2B4228;
}
.home-review-section p {
  margin-bottom: 30px;
  text-align: left;
  color: #999;
  font-size: 16px;
}
.home-review-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.home-review-item {
  cursor: pointer;
}
.home-review-card {
  border: 1px solid #eee;
  background-color: #fff;
}
.home-review-main-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}
.home-review-product-info {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.home-review-product-img {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}
.home-review-product-name {
  font-size: 14px;
  font-weight: 500;
}
.home-review-count {
  font-size: 13px;
  color: #888;
}
.home-review-content {
  font-size: 14px !important;
  color: #666;
  line-height: 1.4;
  margin-bottom: 10px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.home-review-writer {
  font-size: 13px;
  color: #888;
  padding: 0 5px;
  margin-bottom: 10px;
}
