.product-detail-container {
  width: 1245px;
  margin: 0 auto;
  color: #333;
  margin-top: 50px;
}

.product-detail-content {
  display: flex;
  gap: 40px;
  margin-bottom: 100px;
}


.breadcrumb {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #555;
  font-weight: 500;
}

.breadcrumb-link {
  color: #555;
  text-decoration: none;

}

.breadcrumb-current {
  color: #2B4228;
  font-weight: 600;
}


.product-detail-left {
  flex: 1;
}

.product-detail-left img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.product-thumbnails {
  display: flex;
  gap: 15px;
  margin-top: 12px;
}

.product-thumbnails img {
  width: 145px;
  height: 145px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-detail-right {
  flex: 1;
}

.product-name {
  font-size: 28px !important;
  font-weight: 700!important;
  margin-bottom: 8px!important;
  border-top: 1px solid #999 !important;
  padding-top: 45px!important;
}

.product-sub {
  font-size: 16px!important;
  color: #2b4228be!important;
  margin-bottom: 40px!important;
  font-weight: 500;
}

.product-desc {
  font-size: 15px;
  margin-bottom: 35px;
  white-space: pre-line;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pro-desc2 {
  color: #666;
  line-height: 1.6;
}

.price-box {
  font-size: 16px;
}

.customer-price {
  display: flex;
  gap: 50px;
}

.cp-name {
  font-weight: 300;
}

.price-box del {
  color: #555;
}

.sell-price {
  display: flex;
  gap: 65px;
}

.price {
  color: #2B4228;
  font-weight: 700;
}

.delivery-box {
  font-size: 16px;
  display: flex;
  gap: 80px;
}

.option-box {
  display: flex;
  gap: 80px;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 40px;
}

.product-options select {
  width: 465px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

.option-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.qty-box {
  border: 1px solid #ddd;
}

.qty-box button {
  border: none;
  background: white;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 18px;
}

.qty-box button:first-child {
  border-right: 1px solid #ddd;
}

.qty-box button:last-child {
  border-left: 1px solid #ddd;
}

.qty-box span {
  padding: 0 12px;
  font-weight: 600;
}

.item-total {
  color: #2B4228;
  font-weight: 500;
  margin-left: 12px;
}

.remove-btn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.total-box {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 600;
  border-top: 1px solid #ddd;
  padding-top: 50px;
  margin-bottom: 24px;
}

.total-count {
  font-size: 14px;
  color: #555;
  font-weight: 400;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}


.action-buttons button {
  padding: 12px 62px;
  font-size: 16px;
  border: 1px solid #2B4228;
  background: white;
  color: #2B4228;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.action-buttons button:hover {
  background-color: #2B4228;
  color: white;
}


.tab-menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.tab-menu li {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-weight: 600;
  font-size: 16px;
  color: #666;
  list-style: none;
  border: 1px solid #ddd;
  border-right: none;
  box-sizing: border-box;
  cursor: pointer;
}

.tab-menu li:last-child {
  border-right: 1px solid #ddd;
}


.sticky-tab {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}


.tab-section {
  padding: 40px 0;
}



/* info */

.tab-info {
  margin-top: 60px;
  margin-bottom: 80px;
}



.detail-image {
  display: block;
  margin: 0 auto;
}

.detail-image2 {
  width: 851px;
  display: block;
  margin: 0 auto;
}


/* review */

.tab-review {
  width: 1245px;
  margin: 0 auto;
}

.review-title {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  margin-bottom: 20px !important;
}

.review-write {
  display: block;
  width: 100px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  border: 1px solid #888;
}

.review-write:hover {
  background-color: #2B4228;
  color: white;
  transition: all 0.2s;
}

.review-table {
  width: 100%;
  border-top: 2px solid #2B4228;
}

.review-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  height: 50px;
  font-size: 15px;
  padding-right: 20px;
}

.review-header {
  background-color: #2B4228;
  color: white;
  font-weight: bold;
}

.col {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col.no {
  flex: 1;
}

.col.title {
  flex: 5;
}

.col.author {
  flex: 2;
}

.col.date {
  flex: 2;
}

.col.views {
  flex: 1;
}

.col.rating {
  flex: 1;
}

.col.title2 {
  justify-content: flex-start;
}

.reply-badge {
  display: inline-block;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  padding: 1px 6px;
  margin-right: 6px;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px !important;
}

.page-number {
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid #ccc;
  color: #999;
  margin: 0 !important;
}

.page-btn {
  border: none;
  background: none;
  color: #999;
}


/* shipping */

.shipping-box {
  margin-left: 30px;
}


.shipping-title {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #2B4228;
}

.shipping-txt {
  color: #555;
  font-size: 14px;
  line-height: 1.6;
}

.shipping-sub {
  font-weight: 500;
  color: #444;
}


/*  */

.tab-menu {
  display: flex;;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tab-menu li {
  cursor: pointer;
  color: #333;
  transition: all 0.3s ease, color 0.3s ease;
}


.tab-menu li.active {
  background-color: #e6f0db;
  color: #2B4228;
}
