
.brandstory-bg {
    width: 100%;
    background-color: #FBFFF5;
    margin-top: 80px;
    padding-bottom: 90px;
}

.brandstory-container {
    max-width: 1245px;
    margin: 0 auto;
}

.brandstory-container section {
    margin: 60px 0;
}

.brandstory-container img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.brandstory-container p {
    font-size: 14px;
    line-height: 1.7;
    color: #333;
}

.intro-text {
    font-size: 18px !important;
    font-weight: 600;
    margin-top: 35px;
}

.last-txt {
    margin-top: 35px;
}

.signature {
    font-weight: 600;
    font-size: 16px !important;
    text-align: left;
    margin-top: 50px;
}

